/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

code {
  color: #e01a76;
}

html, body { height: 100%; }

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.sold-out {
  color: red;
}